@import 'config';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

//Header section
header{
    height: $section-height;
    width: 100%;
    background: linear-gradient(90deg, #00b4c3, lighten(#00b4c3, 5), lighten(#00b4c3, 5), #00b4c3 );

    .header-container{
        width: $section-width;
        height: 100%;
        margin: 0 auto;
        color: white;
        overflow: hidden;

    .logo-nav{
        height: 80px;
    }

    .banner{
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        align-items: center;
        height: calc(100% - 9vh);

        .hero-img{
            justify-self: flex-end;
            background: url("../images/hero.png") no-repeat;
            background-position: center;
            background-size: cover;
            flex-grow: 1;
            margin-top: auto;
            width: 85%;
            height: 80vh;   
        }
        
        .title{

            .header-text{
                letter-spacing: .1px;
                
                h1{
                    font-weight: 500;
                    font-size: 4rem;
                }

                h2{
                    font-weight: 400;
                    font-size: 2.5rem;
                }

                .secondary{
                    font-size: 1.2rem;
                    text-transform: none;
                    margin: 1.5rem 0;
                    text-shadow: none;
                }
            }

      

        .btn{
            @include button-style();
            padding: 1rem 1rem;
            background: #9068be;
        }
    }
    }

    .menu-nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
        height: 9vh;

        .list-nav{
            list-style: none;
            display: flex;
            flex-direction: row;
            align-content: space-between;

            a{
                display: inline-block;
                text-decoration: none;
                color: white;
                padding: .7rem 1.2rem;
                margin: .7rem 0;
                text-transform: uppercase;
            }
        }

        .menu-btn{
            padding: .7rem 1.2rem;
            margin: .7rem 0;
            cursor: pointer;

            &:after{
                content: 'More';
                color: white;
                text-transform: uppercase;
                position: relative;
                right: 50px;
                top: -22px;
            }

            .btn-line{
                background: white;
                width:28px;
                height:2px;
                margin: 0 0 5px 0;
            }
        }
    }
}
}

//About section
.about{
    width: 100%;
    z-index: 1;
    background: white;

    .wrapper{
        @include grid-wrapper();
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: auto auto 400px;
        grid-template-areas: 
        'about-header about-header about-header'
        'about-paragraph about-paragraph about-paragraph'
        'about-img img-description img-description';
     

        .about-header{
            grid-area: about-header;
            @include header-style();
        }

        .about-paragraph{
            grid-area: about-paragraph;
            @include paragraph-style();
        }

        .about-img{
            grid-area: about-img;
            max-height: 450px;
            max-width: 450px;
            background-position: 70% top;
            background-image: url('../images/about.png');
            box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
            z-index: 1;
        }

        .img-description{
            grid-area: img-description;
            background: lighten(#c5c5c5, 20);
            margin: 1rem auto;
            line-height: 1.5rem;
            padding: 1rem;
            color: black;

            .link{
                text-decoration: none;
                color: #e57754;
            }
        }
    }
}

//Subscribe Bar
.subscribe{
    width: 100%;
    height: 15vh;
    background: #9068be;

    .wrapper{   
        width: $section-width;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 1.5rem 0 1.5rem;
        justify-content: space-around;
        align-items: center; 
        margin: 4rem auto 0;
    }

    .header-subscribe{
        color: white;
        font-size: 1.6rem;

        & > *{
            font-weight: normal;
            margin: 0;
        }
    }

    input[type=text]{
        flex-grow: 1;
        max-width: 250px;
        padding: .8rem;
        margin: 0 .2rem;
    }

    .btn-subscribe{
        @include button-style();
        margin: 0 .2rem;
        padding: .26rem 0 .26rem;
        max-width: 200px;
        background: #e57754;
        font-size: 1.5rem;
    }

    & > *{
        margin: 0 .2rem;
    }
}

//What we do section
.recommendation{
    width: 100%;
    background: lighten(#c5c5c5, 20);

    .wrapper{
        @include grid-wrapper();
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        grid-template-areas: 
        'header header'
        'paragraph paragraph'
        'coaching development';

        .recommendation-header{
            grid-area: header;
            @include header-style();
        }

        .recommendation-paragraph{
            grid-area: paragraph;
            @include paragraph-style();
        }

        .coaching{
            grid-area: coaching;
            position: relative;
            height: 280px;
            padding: 6rem 1rem 1rem 1rem;
            background: white;
            margin-top: 4rem;

            &:before{
                content:'';
                display: block;
                background: url('../images/coaching-logo.png');
                background-color: #9068be;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                width: 150px;
                height: 150px;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%); 
            }

            h3,
             p{
                display:block;
                padding: .5rem 0;
                text-align: center;
                line-height: 1.5rem;
            }
            .coaching-title{
                color: #9068be;
            }

            .coaching-btn{
                @include button-style();
                position: absolute;
                background: #e57754;
                font-size: 1.5rem;
                width: 150px;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%); 
            }
        }

        .development{
            grid-area: development;
            position: relative;
            height: 280px;
            padding: 6rem 1rem 1rem 1rem;
            background: white;
            margin-top: 4rem;

            &:before{
                content:'';
                display: block;
                background: url('../images/development-logo.png');
                background-color: lighten(#00b4c3, 5);
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                width: 150px;
                height: 150px;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%); 
            }

            h3,
             p{
                display:block;
                padding: .5rem 0;
                text-align: center;
                line-height: 1.5rem;
            }

            .development-title{
                color: lighten(#00b4c3, 5)
            }

            .development-btn{
                @include button-style();
                position: absolute;
                background: #326c73;
                font-size: 1.5rem;
                width: 150px;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%); 
            }
        }
    }
}

//What our clients say section
.opinion{
    .wrapper{
        @include grid-wrapper();
        column-gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'header header header'
        'paragraph paragraph paragraph'
        'comment1 comment2 comment3';

        .opinion-header{
            @include header-style();
            grid-area: header;
        }

        .opinion-paragraph{
            @include paragraph-style();
            grid-area: paragraph;
        }
        
        .comment{
            position: relative;
            max-height: 270px;
            padding: 2.5rem 1rem;
            line-height: 1.5rem;
            border: solid 1px lighten(#c5c5c5, 15);
            color: darken(#c5c5c5, 20);
            font-style: italic;

            &::before{
                content:'';
                display:block;
                position: absolute;
                height: 60px;
                width: 60px;
                top: 0;
                transform: translateY(-50%);
                background: url('../images/quote.png');
                background-repeat: no-repeat;
            }

            .client-info{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,75%);
                display: flex;
                justify-items: center;
                align-items: center;
                flex-direction: column;
                padding-bottom: 2rem;
    
                .photo{
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                }
            }
        }

        .comment1{
            grid-area: comment1;
        }
        .comment2{
            grid-area: comment2;
        }
        .comment3{
            grid-area: comment3;
        }
    }
}

//Work section
.work{
    height: 60vh;
    background-image: url('../images/work-bg.png');
    background-position: center;
    background-size: cover;
    border-bottom: 2px #e57754 solid;

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:  rgba(50, 108, 115, 0.9);
        height: 100%;
        width: 100%;
        color: white;

        .work-paragraph{
            font-size: 1.4rem;
            display: inline-block;
            line-height: 2.5rem;
            text-align: center;
            width: 60%;
            padding: 2rem 0;
        }

        .btn{
            @include button-style();
            padding: 1rem 1rem;
            background: #e57754;
        }
    }
}

//Footer
footer{
    height: 25vh;
    background: black;

    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .footer-nav{
            display: flex;
            padding: 1rem;

            li{
                display: inline-block;
                list-style: none;

                a{
                    text-decoration: none;
                    position: relative;
                    color: #c5c5c5;
                    padding: 0 .5rem;

                    &::after{
                        content: '';
                        background: #c5c5c5;
                        height: 70%;
                        width: 1px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                    }
                }

                &:nth-last-child(1) a::after{display: none;};
              }

            }

            .icons{
                margin-top: .5rem;

                a{
                color: #c5c5c5;
                width: 20px;
                height: 20px;
                padding: .1rem;

                    .fa-lg{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    @import 'mobile';
